<p> Test1</p>
<test1 status = "busy" onSendData="printHello($event)" > helloooo</test1>
<test2 name="Ken" lastName="Hervas" (onClickName)="printData($event)" (meButton)="printHello($event)"> </test2>
<test3> </test3>

<button (click)="sw = !sw">SHOW TEST3</button>
<div [hidden]="sw">
  <test3 
  [names]="myStatus">
  </test3>
  <p>hello</p>
</div>

<ul >
  <li *ngFor="let item of [1,2,3,4,5]; let i = index">{{item}}{{i}}</li>
  <li>first</li>
  <li>second</li>
  <li>third</li>
</ul>
<input type="text" [(ngModel)]="color">
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'red'">red</li>
  <li *ngSwitchCase="'yellow'">yellow</li>
  <li *ngSwitchCase="'blue'">blue</li>
  <li *ngSwitchDefault>Default</li>
</ul>

<ng-template #template1>
  <p>this is my template</p>
</ng-template> 



<button (click)="sw = !sw"> NGCONT </button>
<ng-container *ngIf="sw else template1" style="margin=30px">
  <p>NG CONTAINER</p>
</ng-container>

<div style="border: 1px solid Orange;">
  h
</div>

<input type = "text" [(ngModel)]="color">
<div [style.background]="color">
  h
</div>

<p [ngStyle]="{
'background': color,
'border': '5px gray solid'
}">
Hello
</p>

<div [class.class1]="color ==='hola'">
  div with class
</div>

<p [ngClass]="{
  'class1': color === 'hola0'
  }">
  Hello
  </p>


<li *ngFor="let item of listOfNames"> {{item.name}} {{item.lastName}}</li>


<ng-container *ngFor="let item of [1,2,3,4,5]; let i = index">
  <ng-template #template2>
  <ul><li [style.background]="'yellow'">{{item}}</li></ul>
  </ng-template> 
  <ul *ngIf="i%2 === 0; else template2">
  <li [style.background]="'red'">{{item}}</li>
  </ul>
</ng-container>

<div>----------------------------------------------------------------------------------------------------</div>

<button (click)="onAddVideo()">add</button>
<button (click)="personDUnsubscribe()">unsubscribe</button>

<!-- <p testdirective="red" (testoutput)="test($event)"> Mi directiva </p> --->
<p>-------</p>

<input type = "text" [(ngModel)]="bgcolor">



<input type="checkbox" [(ngModel)]="sw"> show

<div *ngIfKen="sw" (test)="$tes(event)"> hello </div>
