<p>BITCOIN</p>

<div style="position: absolute; top: 10px; right: 10px">
TOTAL BTC: {{getTotalBtc()}} | TOTAL ETH: {{getTotalEth()}}
</div>

<p>Wallets</p>


<div *ngIf="getTransactionsStatus()">
  THERE ARE NOT TRANSACTIONS
</div>

<div style="display: flex; flex-direction: row">
  <div *ngFor="let wallet of wallets">
    <wallets [data]="wallet">

    </wallets>
  </div>
</div>


<p>Transactions</p>

<button>Create Transaction</button>

<div style="display: flex; flex-direction: row;">
  <div *ngFor="let tran of trans; let i = index;">

    <trans [data]="tran">
      <button
        [disabled]="tran.mineType === 'PoS' &&
       tran.miner <= 5"
      (click)="clickMine(tran)">
        mine
      </button>

      <button (click)="EditTrans(tran)">Edit</button>
    </trans>
  </div>
</div>
<p>--------------------------------------------------------------</p>
<formus></formus>
